@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .feed-like-icon {
    @apply flex items-center justify-center h-7 w-7 
    mx-auto text-gray-400 group-hover:bg-green-100/10
    group-hover:text-green-600 rounded-3xl group-hover:rounded-xl 
    transition-all duration-300;
  }
  .feed-dislike-icon {
    @apply flex items-center justify-center h-7 w-7 
    mx-auto text-gray-400 group-hover:bg-red-100/10
    group-hover:text-red-600 rounded-3xl group-hover:rounded-xl 
    transition-all duration-300;
  }
  .feed-reply-icon {
    @apply flex items-center justify-center h-7 w-7 
    mx-auto text-gray-400 group-hover:bg-blue-100/10
    group-hover:text-blue-600 rounded-3xl group-hover:rounded-xl 
    transition-all duration-300;
  }

  .feed-dropdown-icon {
    @apply flex items-center justify-center h-7 w-7
    mx-auto text-gray-400 hover:bg-blue-200/10
    hover:text-blue-600 rounded-3xl hover:rounded-xl 
    transition-all duration-300;
  }

  .submit-button-with-disable {
    @apply bg-[#D7DBDC] rounded-xl px-3 py-0.5 my-2 
    text-[#0F1419] hover:bg-[#aeb1b2] 
    disabled:text-[#88898A] disabled:hover:bg-[#D7DBDC];
  }

  .auth-button {
    @apply w-full text-center bg-primary-500 p-3 rounded-full 
    text-text-white font-semibold shadow-md hover:bg-primary-600 
    transition duration-300 flex items-center justify-center gap-2;
  }

  .input {
    @apply bg-background border border-gray-300 text-text-white  
    text-sm rounded-lg w-full p-2.5 focus:ring-primary-500 
    focus:border-primary-500 focus:ring-2 focus:outline-none;
  }
}
